html,body{
	margin:0px;
    padding:0px;
    font-size:22px;
    font-family:sans-serif;
}
nav{

	display: flex;
	font-size: 15px;
	padding: 10px;
	justify-content:flex-end;
	align-items: center;
}
nav ul{
	display: flex;
}
nav li{
	padding-left:20px;
	list-style:none;
}
nav li a{
	color:black;
	text-decoration: none;
}
a:hover{
	text-decoration-line: underline; 

}
header,nav{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+0,ff7cd8+100 */
background: #fcecfc; /* Old browsers */
background: -moz-linear-gradient(top,  #fcecfc 0%, #ff7cd8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcecfc 0%,#ff7cd8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcecfc 0%,#ff7cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */


}